@import "../node_modules/tailwindcss/index.css";

@font-face {
    font-family: Eotg;
    src: url(../Font/EdgeOfTheGalaxyRegular-OVEa6.otf);
}

@font-face {
    font-family: De Valencia;
    src: url(../Font/De Valencia (beta).otf);
}


@theme{
    --font-eotg:'EOTG';
    --font-de-valencia:'De Valencia';
}